
header
{
    background-color: rgb(163, 216, 163);
    color: rgb(31, 1, 1);
    padding: 10px;
    text-align: center;
    font-size:25px;
    text-transform: capitalize;
    font-family:Georgia;
}


.underline-input
{
    border:none;
    border-bottom: 2px solid #000;
    padding: 8px;
    width: 250px;
    font-size: 16px;
    outline: none;
}

.underline-input:focus
{
  border-bottom-color: #007BFF;

}